@use '../../../../../assets/styles/helpers/function' as *;
@use '../../../../../assets/styles/helpers/media' as *;

.services {
  $self: &;
  padding-block: fluid(60, 15);

  &__slide {
    &:last-of-type {
      #{$self}__card:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
        width: fit-content;
        max-width: 865px;
        margin: auto;

        @include tablet-s() {
          max-width: 100%;
        }
      }
    }
  }
}