@use "../../../assets/styles/helpers/media" as *;
@use "../../../assets/styles/helpers/function" as *;

.checkbox-with-label {
	$self: &;

  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
	width: rem(250);

  input[type="checkbox"] {
    display: none;
  }

  &__box {
    min-width: rem(50);
    min-height: rem(50);
    border: rem(3) solid theme('borderColor.dark-green');
    border-radius: rem(4);
    margin-right: rem(16);
    box-sizing: border-box;
    transition: border-color 0.2s;
    position: relative;

		@apply bg-white;
  }

  input[type="checkbox"]:checked + #{$self}__box::after {
    content: "";
    position: absolute;
    left: 0;
    top: rem(-5);
    width: rem(65);
    height: rem(49);
		background-image: url("../../../assets/images/child/checkbox-label.svg");
		background-repeat: no-repeat;
		background-size: cover;
  }

  &__label {
    font-size: rem(20);

		@apply text-primary-black;
  }
}
