@use '@assets/styles/helpers/mixins' as *;
@use '@assets/styles/helpers/media' as *;
@use '@assets/styles/helpers/function' as *;

.rules {
  h3 {
    margin-bottom: rem(40);

    @include mobile() {
      margin-bottom: rem(10);
    }
  }

  p:not(:last-of-type) {
    margin-bottom: rem(20);
  }
}