@import "../../../assets/styles/helpers/media";
@import "../../../assets/styles/helpers/function";

.select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
  padding: rem(15) rem(18);
  min-width: rem(300);

  @apply rounded-100 bg-cyan-light text-white text-xl;

  &__icon {
    @apply text-primary-blue;
  }

  &__option {
    cursor: pointer;
    padding: rem(16);

    @apply text-xl outline-none flex w-full relative select-none items-center rounded-xl;

    &:hover {
      opacity: 0.7;
      @apply bg-cyan-light/50;
    }
  }

  &__options {
    border: rem(2) solid;
    max-height: rem(250);

    @apply bg-white rounded-14 rounded-tl-14 rounded-tr-14 border-cyan-light;
  }
}