@use "@assets/styles/helpers/media" as *;
@use "@assets/styles/helpers/function" as *;

.helper {
  display: flex;
  flex-direction: column;
  row-gap: rem(8);
  padding: rem(40);
  text-align: center;
  max-width: rem(600);
  border-radius: rem(14);

  @apply bg-cyan-light text-white;

  &_full {
    max-width: 100%;
  }

  &_light-brown {
    background-color: var(--light-brown);
  }

  &_shadow {
    box-shadow: 0 rem(6) rem(4) var(--black25);
  }

	&_p-homework {
		@include mobile {
			padding: 15px 12px;

			.textarea {
				padding: 0;
			}
		}
	}
}
