@use "@assets/styles/helpers/function" as *;

.text-body-1 {
	font-family: var(--font-montserrat), serif;
	font-size: fluid(24, 20);
	line-height: 1.4;
	letter-spacing: -0.04rem;
}

.text-body-2 {
	font-family: var(--font-montserrat), serif;
	font-weight: 500;
	font-size: fluid(20, 16);
	line-height: 1.4;
	letter-spacing: -0.04rem;

	@apply max-lg:text-[1rem];
	@apply max-sm:text-[0.875rem];
}

.text-body-3 {
	font-family: var(--font-montserrat), serif;
	//font-weight: 600;
	font-size: fluid(16, 12);
	line-height: 1.4;
	letter-spacing: -0.04rem;
}

.text-body-4 {
	font-family: var(--font-montserrat), serif;
	//font-weight: 600;
	font-size: rem(16);
	line-height: 1;
}

.text-body-5 {
	font-family: var(--font-montserrat), serif;
	//font-weight: 600;
	font-size: rem(14);
	line-height: 1;
}
