.text-body-1 {
	font-family: var(--font-montserrat), serif;
	//font-weight: 600;
	font-size: 1.5625rem;
	line-height: 1.4;
	letter-spacing: -0.04rem;

	@apply max-2xl:text-[1.25rem];
	@apply max-sm:text-[0.875rem];
}

.text-body-2 {
	font-family: var(--font-montserrat), serif;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.4;
	letter-spacing: -0.04rem;

	@apply max-lg:text-[1rem];
	@apply max-sm:text-[0.875rem];
}

.text-body-3 {
	font-family: var(--font-montserrat), serif;
	//font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.4;
	letter-spacing: -0.04rem;
}

.text-body-4 {
	font-family: var(--font-montserrat), serif;
	//font-weight: 600;
	font-size: 0.875rem;
	line-height: 1;
}

.text-body-5 {
	font-family: var(--font-montserrat), serif;
	//font-weight: 600;
	font-size: 0.75rem;
	line-height: 1;
}
