.text-body-1 {
	font-weight: 600;
	font-size: 1.5625rem;
	line-height: 1.4;
	letter-spacing: -0.04rem;
}

.text-body-2 {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.4;
	letter-spacing: -0.04rem;
}


.text-body-3 {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.4;
	letter-spacing: -0.04rem;
}

.text-body-4 {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1;
}

.text-body-5 {
	font-weight: 600;
	font-size: 0.75rem;
	line-height: 1;
}
