@use "../../assets/styles/helpers/media" as *;
@use "../../assets/styles/helpers/function" as *;

.card-instruction {
	$self: &;

	container-type: inline-size;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: clamp(1rem, 3vw, 4.375rem);

	&_reverse {
		flex-direction: row-reverse;

		#{$self}__wrapper-content {
			&::before {
				content: url("/images/child/footnote-quotes-right.svg");
				position: absolute;
				bottom: rem(-6);
				left: auto;
				right: rem(-180);

				@include mobile {
					content: url("/images/child/footnote-quotes-right-xs.svg");
					right: rem(-50);
				}
			}
		}
	}

	&__wrapper-image {
		flex-shrink: 0;
		width: clamp(5rem, 30vw, 31.25rem);
		max-width: min(31.25rem, 40vw);

		@include mobile {
			margin-bottom: 20px;
		}
	}

	&__image {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	&__wrapper-content {
		position: relative;
		padding: clamp(1rem, 2vw, 2.1875rem) clamp(1rem, 2vw, 3.4375rem);
		border-radius: rem(14);
		min-height: clamp(11.25rem, 25vh, 21.5625rem);
		width: min(49.375rem, 70vw);
		max-width: rem(790);
		flex: 1 1 auto;
		align-content: center;

		@apply bg-white;

		&::before {
			content: url("/images/child/footnote-quotes-left.svg");
			position: absolute;
			bottom: rem(-6);
			//left: clamp(-10.9375rem, -5vw, -3.75rem);
			left: rem(-175);

			@include mobile {
				content: url("/images/child/footnote-quotes-left-xs.svg");
				left: rem(-50);
			}
		}
	}
}
