@use '@assets/styles/helpers/function' as *;
@use '@assets/styles/helpers/mixins' as *;
@use '@assets/styles/helpers/media' as *;

.child-interest {
	padding-top: fluid(100, 40);
	display: flex;
	flex-direction: column;
	gap: fluid(40, 20);

	@include container();

	&__card {
		position: relative;
		padding: 0 fluid(60, 10) 0 0;
		border-radius: fluid(80, 20);
		box-shadow: 0 rem(6) rem(4) 0 var(--black25);
		//height: fluid(600, 300);
		display: grid;
		grid-template-columns: fluid(610, 120) auto;
		grid-template-rows: auto auto;
		overflow: hidden;

		@include tablet-s() {
			padding-inline: fluid(60, 10);
			display: flex;
			flex-direction: column;
			height: auto;
		}
	}

	&__image {
		position: absolute;
		height: fluid(600, 190);
		grid-row-start: 1;
		grid-row-end: 3;
		bottom: 0;
		left: 0;
		opacity: 0.9;
		z-index: 0;

		@include tablet-s() {
			opacity: 0.3;
		}
	}

	&__heading,
	&__list {
		position: relative;
		grid-column-start: 2;
		grid-column-end: 3;
		z-index: 1;
	}

	&__heading {
		margin-top: auto;
		padding-top: fluid(60, 10);

		@include tablet-s() {
			grid-column-start: 1;
			grid-column-end: 3;
			text-align: center;
			margin-top: 0;
		}
	}

	&__list {
		list-style: disc;
		grid-row-start: 2;
		grid-row-end: 3;
		padding-bottom: fluid(60, 10);

		@include tablet-s() {
			margin-left: 30px;
		}
	}

	&__container {
		padding-block: fluid(60, 20);
		display: flex;
		flex-direction: column;
		gap: fluid(40, 20);

		@include container();
	}
}