@import "../../assets/styles/helpers/media";
@import "../../assets/styles/helpers/function";

.profile-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    display: flex;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__coins {
    display: flex;

    @apply rounded-14 bg-white shadow-dark;
  }

  &__earned,
  &__bank {
    padding: 6px;
    text-align: center;
  }

  &__images {
    display: flex;
    align-items: center;
    margin-left: rem(20);

    button {
      flex: 1 0 rem(80);
      aspect-ratio: 1;
      z-index: 1;

      &:not(:first-of-type) {
        margin-left: rem(-20);
        z-index: 0;
      }

      &:hover {
        z-index: 5;
      }
    }
  }

  &__earned {
    @apply rounded-14 bg-orange;
  }
}