---
import Input from "@components/UI/Input/input.astro";
import {Form} from "@components/Form/Form";
---
<div class="flex flex-col w-full pl-10 pr-20">
	<h1 class="text-5xl text-center font-bold mb-10">Войти в аккаунт</h1>
	<Form
		action="http://localhost:3000/api/user"
		method="GET"
		submitButton={{sendText: 'Войти'}}
		client:load
	>
		<Input name="email" type="text" placeholder="Введите почту" title="Email"/>
		<Input name="password" type="password" placeholder="Пароль" title="Пароль"/>
	</Form>
</div>
