@use "../../assets/styles/helpers/media" as *;
@use "../../assets/styles/helpers/function" as *;

.form-relatives {
  &__form {
    display: flex;
    gap: rem(40);
  }

  &__input {
    font-size: rem(20);
  }

  &__field {
    position: relative;
    flex: 1 0 auto;
  }

  &__error {
    position: absolute;
    left: rem(20);
    bottom: rem(-20);
  }
}