@use "@assets/styles/helpers/media" as *;
@use "@assets/styles/helpers/function" as *;

h1, .heading_h1 {
	font-weight: 900;
	font-size: fluid(64, 28);
	line-height: 0.9;
	letter-spacing: -0.04rem;

	@apply max-md:font-medium;
}

h2, .heading_h2 {
	font-weight: 700;
	font-size: fluid(44, 26);
	line-height: 1.1;
	letter-spacing: -0.04rem;

	@apply max-md:font-medium;
}


h3, .heading_h3 {
	font-weight: 600;
	font-size: fluid(40, 24);
	line-height: 1.4;
	letter-spacing: -0.04rem;

	@include mobile() {
		line-height: 1.2;
	}
}

h4, .heading_h4 {
	font-weight: 600;
	font-size: fluid(32, 20);
	line-height: 1;
}

h5, .heading_h5 {
	font-weight: 600;
	font-size: 0.75rem;
	line-height: 1;
}

h6, .heading_h6 {
	font-weight: 600;
	font-size: 0.75rem;
	line-height: 1;
}

.heading {
	&_fw400 {
		@apply font-normal;
	}

	&_fw500 {
		@apply font-medium;
	}

	&_fw600 {
		@apply font-semibold;
	}

	&_fw700 {
		@apply font-bold;
	}
}
