h1, .heading_h1 {
	font-weight: 700;
	font-size: 4rem;
	line-height: 0.9;
	letter-spacing: -0.04rem;

	@apply max-2xl:text-[3.375rem];
	@apply max-xl:text-[2.75rem];
	@apply max-sm:text-[1.5rem];
	@apply max-md:font-medium;
}

h2, .heading_h2 {
	font-weight: 700;
	font-size: 2.75rem;
	line-height: 1.1;
	letter-spacing: -0.04rem;

	@apply max-2xl:text-[2.125rem];
	@apply max-sm:text-[1.25rem];
	@apply max-md:font-medium;
}


h3, .heading_h3 {
	font-weight: 600;
	font-size: 2.5rem;
	line-height: 1.4;
	letter-spacing: -0.04rem;
}

h4, .heading_h4 {
	font-weight: 600;
	font-size: 2rem;
	line-height: 1;
}

h5, .heading_h5 {
	font-weight: 600;
	font-size: 0.75rem;
	line-height: 1;
}

h6, .heading_h6 {
	font-weight: 600;
	font-size: 0.75rem;
	line-height: 1;
}
