@import "../../../assets/styles/helpers/media";
@import "../../../assets/styles/helpers/function";

.coins-total {
	display: flex;
	gap: 11px;
	align-items: center;

	&__total {
		font-family: var(--font-montserrat), serif;
		font-weight: 600;
		font-size: rem(40);
		line-height: 1;
		letter-spacing: -4%;
		vertical-align: middle;
		color: hsla(192, 53%, 36%, 1);
	}
}
