@import "../../../assets/styles/helpers/function";

.load-report {
  @apply flex items-center;
	gap: rem(30);

  &__slots {
    @apply flex items-center;
		gap: rem(15);
		cursor: pointer;
  }

  &__slot {
    @apply bg-grey-medium;
    width: rem(85);
    height: rem(110);
    overflow: hidden;

    &--filled {
      @apply bg-grey-medium;
    }
  }

  &__image {
    @apply w-full h-full object-cover;
    display: block;
  }

  &__add {
    @apply inline-flex items-center text-primary-black disabled:opacity-50;
		gap: rem(10);
    background: transparent;
  }

  &__plus {
    @apply text-primary-blue font-bold;
    font-size: rem(30);
    line-height: 1;
  }

  &__text {
    @apply text-xl;
  }

  &__input {
    display: none;
  }
}


