@use "../../../assets/styles/helpers/media" as *;
@use "../../../assets/styles/helpers/function" as *;

.load-report {
	gap: clamp(0.3125rem, 1vw, 1.875rem);

	@apply flex items-center;

  &__slots {
		gap: clamp(0.375rem, 1vw, 0.9375rem);
		cursor: pointer;

		@apply flex items-center;
  }

  &__slot {
    width: rem(85);
    height: rem(110);
    overflow: hidden;

		@apply bg-grey-medium;

		@include mobile {
			width: rem(28);
			height: rem(48);
		}

    &_filled {
      @apply bg-grey-medium;
    }
  }

  &__image {
    display: block;

		@apply w-full h-full object-cover;
  }

  &__add-report {
		gap: clamp(0.375rem, 1vw, 0.625rem);
    background: transparent;

		@apply inline-flex items-center text-primary-black disabled:opacity-50;
  }

  &__plus {
    font-size: rem(30);
    line-height: 1;

		@apply text-primary-blue font-bold;
  }

  &__text {
    @apply text-xl;

		@include mobile {
			text-align: left;
			line-height: 1;
		}
  }

  &__input {
    display: none;
  }
}


