---
import LayoutGuest from "@layouts/LayoutGuest.astro";
import FormRegistration from "@components/FormRegistration/FormRegistration.astro";
import './registration.scss';
---
<LayoutGuest>
	<div class="flex h-full w-full">
		<div class="form-wrapper flex-grow h-full basis-3/5 flex items-center justify-center">
			<FormRegistration/>
		</div>
		<div class="image-wrapper flex-grow h-full basis-2/5"></div>
	</div>
</LayoutGuest>
