@use "../../assets/styles/helpers/media" as *;
@use "../../assets/styles/helpers/function" as *;

.theme-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: rem(40);

	&__card-image {
		width: 100%;
		height: auto;
	}

	&__card-button {
		width: 100%;
	}
}