@use "../../assets/styles/helpers/media" as *;
@use "../../assets/styles/helpers/function" as *;

.card-text {
  border-radius: rem(14);
	padding: clamp(0.9375rem, 1vw, 1.25rem) clamp(0.75rem, 1vw, 0.875rem);

	&_bg-button-hover {
		@apply bg-button-hover;
	}

	&_w-max-50 {
		max-width: 50%;

		@include mobile {
			max-width: 100%;
		}
	}
}
