.greetings {
	&__left {
		flex: 1 1 50%;
		display: flex;
		flex-direction: column;
		order: 1;

		@apply max-md:order-2;
		@apply max-md:basis-full;
		@apply max-md:flex-shrink-0;
		@apply max-md:text-center;
	}

	&__right {
		display: flex;
		flex: 1 1 50%;
		justify-content: flex-end;
		position: relative;
		object-fit: cover;
		order: 2;

		@apply max-md:order-1;
		@apply max-md:basis-full;
		@apply max-md:flex-shrink-0;
		@apply max-md:h-[316px];
	}
}
