@use "@assets/styles/helpers/media" as *;
@use "@assets/styles/helpers/function" as *;

.greetings-child {
	&__greeting {
		margin-bottom: rem(50);
		position: relative;
		width: 50%;
		margin-inline: auto;

		@include mobile {
      width: 100%;
			margin-bottom: rem(95);
		}
	}

	&__wrapper-image {
    position: absolute;
    bottom: 0;
    max-height: 50%;
    height: 436px;
    width: 100%;
	}

  &__image {
    object-fit: contain;
  }
}
