@use "../../assets/styles/helpers/media" as *;
@use "../../assets/styles/helpers/function" as *;

.greetings-child {
	&__greeting {
		background: white;
		padding: rem(50) rem(27);
		border-radius: rem(23);
		box-shadow: 0 rem(4) rem(4) 0 theme('backgroundColor.black-25');
		margin-bottom: rem(236);
		position: relative;

		&:after {
			content: url("/images/child/arrow-greetings.svg");
			position: absolute;
			bottom: rem(-240);
			left: auto;
			right: calc(50% - 65px);
		}
	}

	&__wrapper-image {
		position: relative;
		object-fit: cover;
		margin-bottom: rem(-60);

		@apply max-md:h-[316px];
	}

	&__image {
		position: static;
	}
}
