@use "@assets/styles/helpers/function" as *;

.faq {
  padding-block: fluid(60, 20);

  &__heading {
    width: 100%;
    margin: 0 0 10px !important;
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: fluid(30, 15);
    width: 100%;
    margin-top: fluid(30, 15);
  }

  &__accordion-item {
    background-color: var(--primary-white);
    border-radius: fluid(40, 10);
    padding: fluid(20, 10);
  }

  &__accordion-content {
    padding-top: fluid(20, 10);
  }
}