@import "../../assets/styles/helpers/media";
@import "../../assets/styles/helpers/function";

.settings-aside {
  flex: 0 0 rem(400);
  padding: rem(80) 0;
  display: flex;
  flex-direction: column;
  row-gap: rem(16);
  height: max-content;

  @apply rounded-14;
  @apply bg-white;
  @apply shadow-dark;

  &__link {
    padding: rem(14) rem(46);

    &.is-active {
      background: linear-gradient(90deg, rgba(43, 120, 139, 0.7) 0%, rgba(169, 200, 208, 0.54) 20%, rgba(249, 251, 251, 0) 100%);
      pointer-events: none;
    }

    @include tablet {
      padding: rem(10) rem(20);
    }
  }

  &__icon {
    display: none;

    @include tablet-s {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #efefef;
      color: #adadad;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.3s, left 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: max-content;
  }

  @include tablet {
    max-width: rem(300);
  }

  @include tablet-s {
    visibility: hidden;
    width: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    transition: width .3s, visibility .3s;

    &.show {
      width: rem(400);
      visibility: visible;
    }
  }
}