@import "../../assets/styles/helpers/media";
@import "../../assets/styles/helpers/function";

.about-block {
  $self: &;

  &__text-wrapper {
    padding-block: 80px;
    padding-right: 100px;
    padding-left: 14%;
    width: 60%;
    border-radius: 0 30px 30px 0;

    @apply bg-primary-blue;

    @include tablet {
      padding-right: 14%;
      padding-block: 40px;
      width: 80%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__image-wrapper {
    height: auto;
    width: 40%;
    position: relative;
    margin-left: -40px;

    @apply max-lg:hidden;
  }

  &__container {
    position: relative;
    display: flex;
  }

  &_reverse {
    #{$self}__container {
      flex-direction: row-reverse;

      #{$self}__text-wrapper {
        border-radius: 30px 0 0 30px;
        padding-right: 14%;
        padding-left: 100px;

        @include tablet {
          padding-left: 14%;
        }
      }

      #{$self}__image-wrapper {
        margin-right: -40px;
        margin-left: auto;
        display: flex;

        img {
          margin-left: auto;
        }

        @apply max-lg:hidden;
      }
    }
  }
}
