@use '@assets/styles/helpers/function' as *;

.child-empty {
	margin-top: rem(24);

	&__button {
		margin-top: rem(24);
		padding: fluid(10, 10) fluid(64, 32);

		@apply bg-button-primary;
		@apply text-white;
		@apply hover:bg-button-primary/70;
		@apply rounded-100;
		@apply w-fit;
		@apply mx-auto;
	}
}