@use "../../../../assets/styles/helpers/media" as *;
@use "../../../../assets/styles/helpers/function" as *;

.card {
  display: flex;
  position: relative;
  gap: rem(60);
}

.divider {
  width: rem(5);
  flex: 0 0 rem(5);
  margin-block: rem(-60);

  @apply bg-cyan-light
}

.buttons {
  display: flex;
  gap: rem(30);
  margin-top: auto;

  * {
    flex: 1 1 0;
  }
}