@use '@assets/styles/helpers/function' as *;
@use '@assets/styles/helpers/mixins' as *;
@use '@assets/styles/helpers/media' as *;

.card-with-modal {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: fluid(70, 30);
  box-shadow: 0 rem(6) rem(4) 0 var(--black25);
  overflow: hidden;

  &__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &__inner {
    padding: fluid(60, 20) fluid(40, 15) fluid(40, 15) 0;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    background-color: var(--white60);
    padding-inline: fluid(60, 20);
    display: inline-block;
    border-top-right-radius: fluid(15, 10);
    border-bottom-right-radius: fluid(15, 10);
    max-width: 90%;
    width: fit-content;
  }

  &__list {
    margin-left: fluid(30, 15);
    margin-top: fluid(15, 10);

    & > li {
      display: flex;
      align-items: center;

      &::before {
        content: '\25CF';
        margin-right: rem(15);
      }
    }
  }

  &__button {
    width: auto;
    height: auto;
    padding: fluid(20, 10);
    margin-top: auto;
    margin-left: auto;
    background: var(--brown);
    border-radius: fluid(30, 15);
    color: var(--primary-white);

    @apply transition-colors hover:bg-button-primary/70;

    @include flex-center();

    svg {
      width: fluid(45, 20);
      height: fluid(45, 20);
    }
  }

  &_modal {
    height: fluid(400, 100);
    border-radius: fluid(60, 20);
  }
}