@use '@assets/styles/helpers/function' as *;
@use '@assets/styles/helpers/mixins' as *;
@use '@assets/styles/helpers/media' as *;

.card-with-modal {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: fluid(100, 20);
  box-shadow: 0 rem(6) rem(4) 0 var(--black25);
  overflow: hidden;

  &__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &__inner {
    padding-block: fluid(70, 20);
    padding-right: fluid(70, 20);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    background-color: var(--white60);
    padding-inline: fluid(60, 20);
    display: inline-block;
    border-top-right-radius: fluid(15, 10);
    border-bottom-right-radius: fluid(15, 10);
    max-width: 90%;
    width: fit-content;
  }

  &__button {
    width: fluid(100, 30);
    height: fluid(100, 30);
    aspect-ratio: 1;
    padding: 0;
    margin-top: auto;
    margin-left: auto;
    background: var(--brown);
    border-radius: 50%;
    color: var(--primary-white);

    @apply transition-colors hover:bg-button-primary/70;

    @include flex-center();

    svg {
      width: fluid(45, 20);
      height: fluid(45, 20);
    }
  }

  &__dialog-content {
    border-radius: fluid(100, 30);
    padding: fluid(40, 10);
    width: 90%;
    height: 90%;
    max-width: rem(1400);
    border: none;
    background-color: var(--brown);
    display: flex;
    flex-direction: column;
  }

  &__list {
    margin-left: fluid(30, 15);
    margin-top: fluid(15, 10);

    & > li {
      display: flex;
      align-items: center;

      &::before {
        content: '\25CF';
        margin-right: rem(15);
      }
    }
  }

  &__dialog-descriptions {
    margin-top: fluid(30, 15);
    text-wrap: auto;
  }

  &__modal-close {
    border-radius: 50%;
    height: fluid(50, 30);
    width: fluid(50, 30);
    padding: 0;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(25%, -25%);
  }

  &_modal {
    height: fluid(400, 100);
    border-radius: fluid(60, 20);
  }
}