@import "../../assets/styles/helpers/media";
@import "../../assets/styles/helpers/function";

.card-homework {
	width: 345px;
	background: white;
	border-radius: 14px;

	&__banner {
		display: grid;
	}

	&__banner-content {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
		z-index: 1;
		padding: 15px 20px;
	}

	&__banner-image {
		grid-row: 1 / 2;
		grid-column: 1 / 2;

		img {
			border-radius: rem(14);
		}
	}

	&__content-wrapper {
		padding: 30px 20px 15px;
	}

	&__rating-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__buttons-wrapper {
		display: flex;
		gap: rem(6);
	}

	&__button-start {
		padding: 12px 60px;
		border-radius: 14px;
	}

	&__button-plug {
		border-radius: 14px;
		@apply bg-cyan-light;

		&:hover {
			@apply bg-cyan-light;
		}
	}

	&__complexity {
		@apply flex;
		@apply gap-x-0.5;

		align-self: flex-end;
		margin-top: 50px;
	}
}
