@use "@assets/styles/helpers/media" as *;
@use "@assets/styles/helpers/mixins" as *;
@use "@assets/styles/helpers/function" as *;

.header {
  $self: &;
  position: absolute;
  background-color: var(--white95);
  border-radius: 0 0 fluid(60, 20) fluid(60, 20);
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  padding-block: fluid(30, 20);

  &__container {
    display: flex;
    align-items: center;

    @include container();
  }

  &__menu {
    @apply flex ml-16 gap-x-4;

    @include tablet {
      position: absolute;
      visibility: hidden;
      right: 0;
      top: 100%;
      left: 0;
      width: 100%;
      border-radius: 0 0 40px 40px;
      margin: 0;
      box-shadow: 0 10px 5px 0 hsla(0, 0%, 0%, 15%);
      transition: height 0.2s;
      height: 0;

      @apply bg-white;

      &.is-open {
        visibility: visible;
        z-index: 99;
        height: fit-content;
        justify-content: center;
        flex-wrap: wrap;
      }

      .button {
        padding: 30px 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        @apply text-primary-black;
      }
    }
  }

  &__buttons {
    @apply ml-auto gap-2 flex;
  }

  &__burger {
    position: relative;

    @apply w-10 h-10 [&_svg]:size-8;
  }

  &__auth-button {
    margin-inline: rem(4);
    font-weight: 700;
    gap: rem(8);
    transition: opacity 0.3s;
    background-color: var(--secondary-blue);
    padding: fluid(10, 6) fluid(20, 10);
    border-radius: fluid(20, 10);

    @include flex-center();

    &:hover {
      opacity: 0.5;
    }
  }

  &__modal-heading {
    margin-bottom: 0 !important;
  }

  &__icon-open,
  &__icon-close {
    transition: opacity .2s;
    opacity: 0;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }

  [data-state="closed"] {
    #{$self}__icon-open {
      opacity: 1;
    }
  }

  [data-state="open"] {
    #{$self}__icon-close {
      opacity: 1;
    }
  }
}
