@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
  --hrader-height: 4.313rem;
  --primary-black: rgba(0, 0, 0, 1);
  --black25: rgba(0, 0, 0, 0.25);
  --primary-white: rgba(255, 255, 255, 1);
  --primary-blue: rgba(43, 121, 140, 1);
  --white95: rgba(255, 255, 255, 0.95);
  --white80: rgba(255, 255, 255, 0.8);
  --white60: rgba(255, 255, 255, 0.6);
  --brown: rgba(162, 129, 103, 1);
  --light-brown: rgba(235, 215, 189, 1);
  --champagne: rgba(253, 251, 239, 1);
  --champagne70: rgba(253, 251, 239, 0.7);
  --secondary-blue: rgba(196, 220, 227, 1);
}

html {
  background-color: var(--champagne);

  @apply h-dvh;
}

body {
  @apply h-dvh;
  @apply flex;
  @apply flex-col;
}

.index-page {
  background: linear-gradient(180deg, var(--champagne) 10%, var(--light-brown) 50%, var(--brown) 100%);
}

img, a {
  user-select: none;
}

main {
  @apply grow;
}

img {
  user-select: none;
}

.loader {
  animation: loader-animate infinite linear 2s;
}

@keyframes loader-animate {
  from {
    rotate: 0;
  }

  to {
    rotate: 1turn;
  }
}



@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}