@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
  --hrader-height: 4.313rem;
  --primary-black: hsla(0, 0%, 0%, 1);
  --black25: hsla(0, 0%, 0%, 0.25);
  --primary-white: hsla(255, 255%, 255%, 1);
  --brown: hsla(26, 24%, 52%, 1);
  --light-brown: hsla(35, 53%, 83%, 1);
  --secondary-blue: hsla(193, 36%, 83%, 1);
}

html {
  background-color: #FDFBEF;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;

  @apply h-dvh;
}

body {
  @apply h-dvh;
  @apply flex;
  @apply flex-col;
}

.index-page {
  //background: linear-gradient(180deg, #FDFBEF 10%, #E9D5B8 50%, #A28066 100%);
  background: #FDFBEF;
}

img, a {
  user-select: none;
}

main {
  @apply grow;
}

img {
  user-select: none;
}
