@use "../../../assets/styles/helpers/media" as *;
@use "../../../assets/styles/helpers/function" as *;

.quiz-questions {
	$self: &;

	padding-inline: clamp(1.25rem, 5vw, 6.25rem);
	padding-top: clamp(3.5rem, 5vw, 3.75rem);
	position: relative;
	border-radius: rem(12);
	font-family: Arial, sans-serif;
	text-align: center;
	min-height: clamp(23.5rem, 5vw, 37.25rem);

	@apply bg-white;

	&__score-container {
		margin-bottom: rem(15);
	}

	&__score-plus {
		position: absolute;
		top: rem(15);
		left: clamp(1.25rem, 5vw, 1.875rem);
		font-size: clamp(2rem, 5vw, 2.5rem);
		font-weight: bold;

		@apply text-green-light;
	}

	&__score-minus {
		position: absolute;
		top: rem(15);
		right: clamp(1.25rem, 5vw, 1.875rem);
		font-size: clamp(2rem, 5vw, 2.5rem);
		font-weight: bold;

		@apply text-primary-red;
	}

	&__question {
		font-size: clamp(1.25rem, 5vw, 2rem);
		margin-bottom: clamp(1.875rem, 5vw, 5rem);
	}

	&__options-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: clamp(1rem, 5vw, 3.125rem);
		column-gap: clamp(0rem, 5vw, 10.625rem);
		margin-bottom: clamp(1.25rem, 5vw, 10rem);

		&:has(#{$self}__input) {
			display: flex;
		}

		@include mobile {
			grid-template-columns: 1fr;
		}
	}

	&__option-button {
		padding: rem(12);
		border: rem(2) solid theme('borderColor.grey-medium');
		border-radius: rem(100);
		font-size: clamp(1.25rem, 5vw, 2.5rem);
		cursor: pointer;
		transition: all 0.3s;
		@apply bg-button-primary text-primary-white;

		&:hover {
			opacity: 0.9;
		}
	}

	&__timer-container {
		#{$self}__timer {
			position: absolute;
			bottom: clamp(1rem, 5vw, 3rem);
			right: clamp(1.25rem, 5vw, 3.75rem);
			font-size: clamp(1.25rem, 5vw, 2rem);
			font-weight: 600;

			@apply text-primary-blue;
		}
	}

	&__input {
		min-height: rem(180);
		width: 100%;
		border-radius: rem(14);
		font-size: clamp(1.25rem, 5vw, 2rem);

		@apply text-primary-black;
	}
}
