@use "../../assets/styles/helpers/media" as *;
@use "../../assets/styles/helpers/function" as *;

.card-white {
  display: flex;
  flex-direction: column;
  padding: rem(20);

  @apply bg-white shadow-dark rounded-14;
}