@use "../../assets/styles/helpers/media" as *;
@use "../../assets/styles/helpers/function" as *;

.registration {
  $self: &;
  height: auto;
  width: rem(470);
  margin: auto;

  &__form {
    row-gap: rem(20);

    @apply w-[470px] flex flex-col;

    @include tablet {
      @apply grid w-full;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      align-self: center;
    }
  }

  &__login {
    margin-top: 20px;

    @include tablet {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &__submit {
    @apply self-center;

    @include tablet {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row: 3/4;
      align-self: end;
      width: 100%;
    }
  }

  &__field {
    position: relative;
    flex: 1 0 auto;
    //margin-bottom: rem(28);
  }

  &__error {
    position: absolute;
    left: rem(20);
    bottom: rem(-20);
  }

  @include tablet {
    padding: 50px;
    width: 100%;
  }

  @include mobile {
    @apply flex flex-col
  }
}