@import "../../assets/styles/helpers/media";
@import "../../assets/styles/helpers/function";

.registration {
  $self: &;

  &__form {
    @apply w-[470px] flex flex-col;

    @include tablet {
      @apply grid w-full;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      align-self: center;
    }
  }

  &__login {
    @include tablet {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &__submit {
    @apply self-center;

    @include tablet {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row: 3/4;
      align-self: end;
      width: 100%;
    }
  }

  @include tablet {
    padding: 50px;
    width: 100%;
  }

  @include mobile {
    @apply flex flex-col
  }
}